settings.py
samples/
__pycache__/*
*.python-version
.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
toy.py
tox.ini
cover/
build/
docs/_build
bitflyer.egg-info/
*.pyc
*.swp
*.egg
env/
dist
